.color-primary {
  color: #c59b5f !important; }

.heading__icon--size {
  font-size: 2rem !important; }

.heading__icon:before {
  content: "";
  width: 55px;
  border-top: 1px solid;
  color: #ffffff;
  display: inline-block;
  margin: 0 1rem 0.7rem 0; }

.heading__icon:after {
  content: "";
  width: 55px;
  border-top: 1px solid;
  color: #ffffff;
  display: inline-block;
  margin: 0 0 0.7rem 1rem; }

.about__header {
  background-image: url(../img/aboutheader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 95vh;
  width: 100vw; }

.about__container {
  width: 50%;
  float: right;
  margin-top: 15rem;
  margin-right: 5rem;
  text-align: center;
  background-color: rgba(197, 155, 95, 0.7);
  border-radius: 4px; }

.about__heading {
  line-height: 7rem !important;
  font-size: 8rem;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  letter-spacing: 0.7rem;
  color: #ffffff;
  padding-top: 2.5rem; }

.about__text {
  font-size: 1.8rem;
  font-family: "Open Sans Condensed", sans-serif;
  color: #ffffff;
  line-height: 3rem;
  margin-top: 2.5rem; }

.about__icons__grid {
  display: grid;
  grid-template-areas: "utensils globe pagelines";
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4rem auto; }

.about__icons {
  font-size: 2rem;
  color: #ffffff; }

.fas,
.fab {
  font-size: 3rem;
  color: #fff; }

.fa-utensils {
  grid-area: utensils;
  grid-column-start: 1; }

.fa-globe {
  grid-area: globe;
  grid-column-start: 2; }

.fa-pagelines {
  grid-area: pagelines;
  grid-column-start: 3; }

.icons__text {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 1.5rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn,
.btn-small {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 0.2rem; }
  .btn:link, .btn:visited,
  .btn-small:link,
  .btn-small:visited {
    color: #ffffff; }
  .btn:hover,
  .btn-small:hover {
    opacity: lighten;
    transform: translateY(-4px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .btn:active, .btn:focus,
  .btn-small:active,
  .btn-small:focus {
    outline: none;
    transform: translateY(-1px); }

.btn {
  padding: 1.5rem 4rem; }

.btn-small {
  padding: 1rem 3rem; }

.contact__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/interior/lycs-lycs-744237-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 120vh;
  width: 100vw;
  text-align: center; }

.contact__container {
  width: 70%;
  margin: 5rem auto;
  text-align: center; }

.contact__heading {
  font-size: 8rem;
  font-weight: 400;
  font-family: "Great Vibes", cursive;
  line-height: 7rem !important;
  color: #c59b5f;
  display: inline-block;
  margin-top: 7rem;
  margin-bottom: 1.5rem; }
  .contact__heading--sub {
    font-size: 1.8rem;
    font-family: "Open Sans Condensed", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 100;
    color: #ffffff;
    margin-top: 3.5rem; }

.contact__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 30vh;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
  grid-gap: 1.5rem;
  margin-bottom: 7rem; }

.contact .contact__address {
  grid-column-start: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 2rem;
  transition: all 0.4s; }
  .contact .contact__address:hover, .contact .contact__address:active {
    color: #c59b5f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-3px) scale(1.1); }

.contact .contact__phone {
  grid-column-start: 2;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.4s; }
  .contact .contact__phone:hover, .contact .contact__phone:active {
    color: #c59b5f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-3px) scale(1.1); }

.contact .contact__hours {
  grid-column-start: 3;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.4s; }
  .contact .contact__hours:hover, .contact .contact__hours:active {
    color: #c59b5f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-3px) scale(1.1); }

.contact .fa-map-marker-alt {
  border: 2px #ffffff solid;
  border-radius: 50%;
  padding: 4rem 4.5rem;
  margin: 2.5rem 0; }

.contact .fa-mobile-alt {
  border: 2px #ffffff solid;
  border-radius: 50%;
  padding: 4rem 4.5rem;
  margin: 2.5rem 0; }

.contact .fa-clock {
  border: 2px #ffffff solid;
  border-radius: 50%;
  padding: 4rem 4.5rem;
  margin: 2.5rem 0;
  font-size: 3rem; }

.contact__form {
  margin-top: 4rem; }

.contact #message {
  padding-bottom: 7rem; }

.footer {
  background-color: #000;
  padding: 2rem 0 5rem 0;
  font-size: 1.4rem;
  color: #ffffff; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    font-size: 8rem;
    font-weight: 400;
    font-family: "Great Vibes", cursive;
    line-height: 7rem !important;
    color: #c59b5f;
    display: inline-block;
    margin: 3rem 0; }
  .footer__container {
    display: inline-block; }
  .footer__navigation {
    border-top: 1px solid #ffffff;
    display: inline-block;
    padding-left: 25rem;
    padding-top: 1.5rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #c59b5f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #ffffff;
    padding-top: 1.3rem;
    margin: 0;
    width: 35%;
    float: right; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  text-align: center; }
  .header__logo {
    color: #c59b5f;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 8rem;
    display: inline-block;
    margin: 1rem 0; }
  .header__nav {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.7rem;
    margin: 3rem 1rem 0 0;
    display: inline-block; }
    .header__nav a {
      text-decoration: none;
      color: #ffffff;
      padding: 1rem 1.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase; }
      .header__nav a:hover {
        color: #c59b5f; }
  .header .header__nav--left {
    margin-right: 3.5rem; }
  .header .header__nav--right {
    margin-left: 3rem; }
  .header .header__nav__container {
    background-color: #000;
    height: 20vh; }
  .header__btn {
    text-align: center;
    margin-right: 2rem;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    margin-top: 3rem;
    animation: dropDown 1.5s ease-out; }
    .header__btn--1 {
      background-color: #c59b5f;
      margin-right: 2rem;
      color: #000 !important; }
    .header__btn--2 {
      background-color: rgba(0, 0, 0, 0.9);
      color: #c59b5f !important; }

.heading-primary {
  color: #ffffff;
  text-align: center;
  margin-top: 12rem; }
  .heading-primary--main {
    font-weight: 400;
    font-family: "Great Vibes", cursive;
    font-size: 8rem;
    animation: moveInLeft 2s ease-out; }
  .heading-primary--sub {
    font-weight: 300;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    animation: moveInRight 3s ease-out; }
  .heading-primary--text {
    line-height: 3rem;
    font-size: 2.5rem;
    font-family: "Open Sans Condensed", sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 1rem 0 4rem 0;
    animation: moveInRight 3s ease-out; }

.interior {
  margin: 0 5rem; }
  .interior__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 76%;
    margin: 7rem auto; }
  .interior__left {
    grid-column-start: 1;
    grid-row-start: 1; }
  .interior__heading {
    font-size: 3.5rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    letter-spacing: 0.2rem;
    line-height: 3.5rem; }
    .interior__heading:after {
      content: "";
      width: 65px;
      border-top: 2px solid;
      color: #c59b5f;
      display: block;
      margin: 2rem 0; }
  .interior__text {
    font-size: 2rem;
    width: 80%;
    font-family: "Open Sans Condensed", sans-serif; }
  .interior__right {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3; }
  .interior__img {
    width: 89%;
    height: 89%;
    border-radius: 8px;
    float: right; }
  .interior__left--2 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4; }
  .interior__img--2 {
    width: 90%;
    height: 99%;
    border-radius: 8px;
    float: left; }
  .interior__right--2 {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-left: 6rem; }

.menu {
  background-color: #000;
  text-align: center; }
  .menu__heading {
    font-size: 8rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    line-height: 7rem !important;
    color: #c59b5f;
    padding-top: 4.5rem;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 1.5rem; }
    .menu__heading--sub {
      font-size: 1.8rem;
      font-family: "Open Sans Condensed", sans-serif;
      letter-spacing: 0.1rem;
      font-weight: 100;
      color: #ffffff;
      margin-top: 1.5rem; }
  .menu__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 5rem;
    width: 80%;
    margin: 0 auto; }
    .menu__grid--left {
      grid-column-start: 2;
      margin-top: 10rem; }
    .menu__grid .menu__item__container {
      text-align: left;
      width: 80%; }
    .menu__grid .menu__item {
      font-size: 2.5rem;
      font-family: "Playfair Display", serif;
      font-weight: 400;
      letter-spacing: 0.2rem;
      color: #ffffff; }
      .menu__grid .menu__item span {
        float: right; }
    .menu__grid .menu__descrip {
      font-size: 1.7rem;
      font-weight: 100;
      font-family: "Open Sans Condensed", sans-serif;
      line-height: 2.5rem;
      color: #ffffff;
      margin-bottom: 2rem;
      margin-top: 1rem; }
    .menu__grid--right {
      grid-column-start: 1;
      grid-row-start: 1;
      background-image: url(../img/restaurant-slide1.jpg);
      width: 93%;
      background-size: cover;
      background-position: right;
      height: 65vh;
      border-radius: 4px;
      margin-right: 3rem; }
    .menu__grid--left2 {
      grid-column-start: 2;
      background-image: url(../img/restaurant-slide2.jpg);
      width: 93%;
      background-size: cover;
      background-position: left;
      height: 70vh;
      border-radius: 4px; }
    .menu__grid--right2 {
      grid-column-start: 1;
      grid-row-start: 2;
      margin-left: 4rem; }

.reservation__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/interior/samuel-foster-412328-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;
  text-align: center; }

.reservation__container {
  width: 70%;
  margin: 7rem auto;
  text-align: center; }

.reservation__heading {
  font-size: 8rem;
  font-weight: 400;
  font-family: "Great Vibes", cursive;
  line-height: 7rem !important;
  color: #c59b5f;
  padding-top: 4.5rem;
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 1.5rem; }
  .reservation__heading--sub {
    font-size: 1.8rem;
    font-family: "Open Sans Condensed", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 100;
    color: #ffffff;
    margin-top: 1.5rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.8rem;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.1rem;
  color: #ffffff;
  padding: 1.5rem 2rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 90%;
  display: block;
  transition: all 0.3s;
  margin: 0 auto; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #c59b5f; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7); }

.form__input--half {
  font-size: 1.8rem;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.1rem;
  color: #ffffff;
  padding: 1.5rem 2rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  display: inline;
  transition: all 0.3s;
  margin-right: 1.5rem;
  width: 44.1%; }
  .form__input--half:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #c59b5f; }
  .form__input--half:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input--half::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7); }

.form__input--half2 {
  margin: 0; }

.form__label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 20%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #c59b5f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem; }
  .form__radio-button::after {
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #c59b5f;
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__btn {
  margin: 4rem 0; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }
