.contact {
  &__header {
    background-image: linear-gradient(rgba($black, 0.9), rgba($black, 0.9)),
      url(../img/interior/lycs-lycs-744237-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 120vh;
    width: 100vw;
    text-align: center;
  }

  &__container {
    width: 70%;
    margin: 5rem auto;
    text-align: center;
  }

  &__heading {
    font-size: 8rem;
    font-weight: 400;
    font-family: "Great Vibes", cursive;
    line-height: 7rem !important;
    color: $primary;
    display: inline-block;
    margin-top: 7rem;
    margin-bottom: 1.5rem;

    &--sub {
      font-size: 1.8rem;
      font-family: "Open Sans Condensed", sans-serif;
      letter-spacing: 0.1rem;
      font-weight: 100;
      // color: $black;
      color: $white;
      margin-top: 3.5rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30vh;
    font-size: 1.5rem;
    font-weight: 200;
    color: $white;
    grid-gap: 1.5rem;
    margin-bottom: 7rem;
  }

  .contact__address {
    grid-column-start: 1;
    background-color: rgba($white, 0.1);
    padding-bottom: 2rem;
    transition: all 0.4s;

    &:hover,
    &:active {
      color: $primary;
      box-shadow: 0 1rem 2rem rgba($black, 0.4);
      transform: translateY(-3px) scale(1.1);
    }
  }
  .contact__phone {
    grid-column-start: 2;
    background-color: rgba($white, 0.1);
    transition: all 0.4s;

    &:hover,
    &:active {
      color: $primary;
      box-shadow: 0 1rem 2rem rgba($black, 0.4);
      transform: translateY(-3px) scale(1.1);
    }
  }
  .contact__hours {
    grid-column-start: 3;
    background-color: rgba($white, 0.1);
    transition: all 0.4s;

    &:hover,
    &:active {
      color: $primary;
      box-shadow: 0 1rem 2rem rgba($black, 0.4);
      transform: translateY(-3px) scale(1.1);
    }
  }

  .fa-map-marker-alt {
    border: 2px $white solid;
    border-radius: 50%;
    padding: 4rem 4.5rem;
    margin: 2.5rem 0;
  }
  .fa-mobile-alt {
    border: 2px $white solid;
    border-radius: 50%;
    padding: 4rem 4.5rem;
    margin: 2.5rem 0;
  }
  .fa-clock {
    border: 2px $white solid;
    border-radius: 50%;
    padding: 4rem 4.5rem;
    margin: 2.5rem 0;
    font-size: 3rem;
  }

  &__form {
    margin-top: 4rem;
  }

  #message {
    padding-bottom: 7rem;
  }
}
