.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;

  &__logo {
    color: $primary;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 8rem;
    display: inline-block;
    margin: 1rem 0;
  }

  &__nav {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.7rem;
    margin: 3rem 1rem 0 0;
    display: inline-block;

    a {
      text-decoration: none;
      color: $white;
      padding: 1rem 1.5rem;
      letter-spacing: $ls-default;
      text-transform: uppercase;

      &:hover {
        color: $primary;
      }
    }
  }

  .header__nav--left {
    margin-right: 3.5rem;
  }
  .header__nav--right {
    margin-left: 3rem;
  }

  .header__nav__container {
    background-color: $black;
    height: 20vh;
  }

  &__btn {
    text-align: center;
    margin-right: 2rem;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    margin-top: 3rem;
    animation: dropDown 1.5s ease-out;

    &--1 {
      background-color: $primary;
      margin-right: 2rem;
      color: $black !important;
    }

    &--2 {
      background-color: rgba($black, 0.9);
      color: $primary !important;
    }
  }
}

.heading-primary {
  color: $white;
  text-align: center;
  margin-top: 12rem;

  &--main {
    font-weight: 400;
    font-family: "Great Vibes", cursive;
    font-size: 8rem;
    animation: moveInLeft 2s ease-out;
  }

  &--sub {
    font-weight: 300;
    // font-family: "Roboto Condensed";
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: $ls-default;
    animation: moveInRight 3s ease-out;
  }

  &--text {
    line-height: 3rem;
    font-size: 2.5rem;
    font-family: "Open Sans Condensed", sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 1rem 0 4rem 0;
    animation: moveInRight 3s ease-out;
  }
}
