//////Interior///////
.interior {
  margin: 0 5rem;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 76%;
    margin: 7rem auto;
  }

  &__left {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  &__heading {
    font-size: 3.5rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    letter-spacing: 0.2rem;
    line-height: 3.5rem;

    &:after {
      content: "";
      width: 65px;
      border-top: 2px solid;
      color: $primary;
      display: block;
      margin: 2rem 0;
    }
  }
  &__text {
    font-size: 2rem;
    width: 80%;
    font-family: "Open Sans Condensed", sans-serif;
  }

  &__right {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__img {
    width: 89%;
    height: 89%;
    border-radius: 8px;
    float: right;
  }

  &__left--2 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  &__img--2 {
    width: 90%;
    height: 99%;
    border-radius: 8px;
    float: left;
  }

  &__right--2 {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-left: 6rem;
  }
}
